/*  Tab Style  */
// .bg-image {
//   background-image: url('../public/images/frost.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;;
// }
.react-tabs {
  background-color: #f1f1f1;
  background-image:  url('../public/images/frost.png');
    background-repeat: no-repeat;
  background-size: contain;
  background-position: center;;
  border-radius: 20px;
  padding: 20px 30px;
  @media only screen and (min-width: 769px) {
    padding: 80px 40px;
    &__tab {
      width: auto;
    }
  }
  @media only screen and (min-width: 1440px) {
    padding: 100px 60px;
  }
}

.react-tabs__tab {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #616161 !important;
  &-list {
    border: none !important;
    margin-bottom: 40px !important;
  }
  &--selected {
    padding: 10px 20px !important;
    border: none !important;
    background: #7500CF !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 24px;
    line-height: 29px;
  }
  @media only screen and (max-width: 680px) {
    font-size: 14px !important;
    &--selected {
      font-weight: bold !important;
    }
  }
}

